In [1]:
import pandas as pd

In [ ]:
cuicui = pd.read_csv("CUI-CUIs.csv", engine='pyarrow')
cuicui.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25541474 entries, 0 to 25541473
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   :START_ID  object
 1   :END_ID    object
 2   :TYPE      object
 3   SAB        object
dtypes: object(4)
memory usage: 779.5+ MB

In [3]:
cuisuis = pd.read_csv("CUI-SUIs.csv", engine='pyarrow')
cuisuis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8557455 entries, 0 to 8557454
Data columns (total 2 columns):
 #   Column     Dtype
---  ------     -----
 0   :START_ID  object
 1   :END_ID    object
dtypes: object(2)
memory usage: 130.6+ MB

In [4]:
# replace cuis in cuicui with suis from cuisuis

  :START_ID   :END_ID
0  C0026106  S0000001
1  C0026351  S0000002