In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./angst-silver_train.csv")
df.head()

,Unnamed: 0,text,depression_label,anxiety_label,multilabel_clf_label,multiclass_clf_label,id
0,0,"i woke up very early, 2 am. i just came out of...",1,0,"[1, 0]",Depression,4JEVyZ
1,1,ive been trying my damndest to improve myself ...,1,0,"[1, 0]",Depression,3jkFBr
2,2,he lives on the other side of the country and ...,1,0,"[1, 0]",Depression,4DZQ7p
3,3,i work in retail and lately ive had some shit ...,0,1,"[0, 1]",Anxiety,FSr2Vx
4,4,"i had my first one in november 2020, another 2...",0,1,"[0, 1]",Anxiety,42FfcW

In [3]:
df.drop(columns=['Unnamed: 0', 'depression_label', 'anxiety_label', 'multilabel_clf_label'], inplace=True)
df.head()

,text,multiclass_clf_label,id
0,"i woke up very early, 2 am. i just came out of...",Depression,4JEVyZ
1,ive been trying my damndest to improve myself ...,Depression,3jkFBr
2,he lives on the other side of the country and ...,Depression,4DZQ7p
3,i work in retail and lately ive had some shit ...,Anxiety,FSr2Vx
4,"i had my first one in november 2020, another 2...",Anxiety,42FfcW

In [4]:
df.rename(columns={"multiclass_clf_label": "label"}, inplace=True)
df.head()

                                                text       label      id
0  i woke up very early, 2 am. i just came out of...  Depression  4JEVyZ
1  ive been trying my damndest to improve myself ...  Depression  3jkFBr
2  he lives on the other side of the country and ...  Depression  4DZQ7p
3  i work in retail and lately ive had some shit ...     Anxiety  FSr2Vx
4  i had my first one in november 2020, another 2...     Anxiety  42FfcW

In [5]:
df.to_csv("angst_silve_train_cleaned.csv", index=False)

In [6]:
len(df)

7667